@{
    /**/

    /**/

    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p>We are a team of programmers who believe that all people should be able to learn about math.</p>

<div class="row">
    <div class="col-md-4">
        <h2>Luther</h2>
        <h3>Head Window Licker</h3>
        <p>
           Luther makes sure that all of our windows are clean. Whether those are windows or monitors around the office, or our GUI windows in our software. Without Luther, MathWiz wouldn't look nearly as good.
        </p>
        <p>"Would not use. Try <a href="http://www.hoodamath.com">HoodaMath</a> for a more fun learning experience."~Luther</p>
    </div>
    <div class="col-md-4">
        <h2>Brendan</h2>
        <h3>Sanitation Master</h3>
        <p>Brendan works extremely hard to make sure everything about our office is sanitized. From the bathrooms to our databases, our clean and efficient look wouldn't be the same without him.</p>
        <p>"I told them I'm a janitor and they made me head developer. Don't buy this software."~Brendan</p>
    </div>
    <div class="col-md-4">
        <h2>Chase</h2>
        <h3>Skyr Gobbler International</h3>
        <p>Chase is our storage expert. From bites of skyr to bytes of food, nothing comes into the office that doesn't go through Chase. If you've ever saved a quiz or created a profile on MathWiz, you have Chase to thank.</p>
        <p>"I honestly don't even know why I'm here. I just sit in the corner and eat yogurt. Should you buy the software? Probably not. Think of all the yogurt you could purchase."~Chase</p>
    </div>
    <div class="col-md-4">
        <h2>Matt</h2>
        <h3>Demoltions Expert</h3>
        <p>Whether he's entering buildings or entering data, Matt always makes sure to use industry best-practices. Matt quickly and efficiently enters all of our data. Without his skills, MathWiz would be a baren wasteland.</p>
        <p>"This software is so bad that I can hear the screams of our angry customers outside our frontdoor over the awful ringing in my ears from years of demoltions training"~Matt</p>
    </div>
</div>

