
@{
    ViewBag.Title = "Create Assignment";
}
<h2>Create Assignment</h2>

<form method="post">
    <label for="aName">Assignment Name: </label><br>
    <input type="text" id="aName" name="aName" placeholder="Assignment 1" required><br><br>
    <label for="aType">Assignment Type: </label><br>
    <select id="aType" name="aType">
        <option value="1">Addition</option>
        <option value="2">Subtraction</option>
        <option value="3">Multiplication</option>
        <option value="4">Division</option>
    </select>
    <br><br>
    <label for="numOfProblems">Number of problems: (between 1 and 50):</label><br />
    <input type="number" id="numOfProblems" name="numOfProblems" min="1" max="50" required><br><br>
    <label for="dueDate">Due Date:</label>
    <input type="date" id="dueDate" name="dueDate" required><br /><br />
    <input type="submit" value="Create Assignment">
</form>






























