@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Math Wiz</h1>
    <p class="lead">Math Wiz is an online learning environment for people, and students, of all ages to advance their technical knowledge and abilities in the field of mathematics.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What it's All About</h2>
        <p>
            Enough of the technical jargin. You're reading this because you want to know what this is really about. MathWiz is a hands-on, rubber to the road program that aims to improve your skills in math. It will take you on a step by step journey through a number of different levels of math. All the way from addition to differential equations.
        </p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Find out more about the dedicated and diverse team of programmers who desined and mantain MathWiz!</p>
        <p>@Html.ActionLink("Learn more >>", "About", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Success Stories</h2>
        <p>Now you might be thinking, "Why should I buy this? I don't know if it works at all." We here at MathWiz completely understand your concerns. So, to ease your mind, here are some testimonials from satisfied customers.</p>
        <p>@Html.ActionLink("Learn more >>", "Testimonial", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>