@{
    /**/

    /**/

    ViewBag.Title = "Take Assignment";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



@{ var problems = new List<String>() { "1+1", "2+2", "3+3" };
    foreach (string problem in problems)
    {
        <p>
            @problem

        </p>

        <textarea id="answer" rows="4" cols="50">
            Enter your answer here!
        </textarea>


    }
    <button type="button">Submit Quiz</button>
}

