@{
    /**/

    /**/

    ViewBag.Title = "Testimonials";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    <div class="col-md-4">
        <p>"I'm only a fourth grader, why would anyone care what I think about it?"</p>
        <h2>Montel Sheldon, age 9</h2>
    </div>
    <div class="col-md-4">
        <p>"I downloaded this program and now my computer says I have 835 new viruses. Please don't use this."</p>
        <h2>Kairo Sierra, age 47</h2>
    </div>
    <div class="col-md-4">
        <p>"The software is great, but for some reason my computer always sounds like it's running even when I put it to sleep."</p>
        <h2>Natalie Legge, age 23</h2>
    </div>
    <div class="col-md-4">
        <p>"Looks good! If this was an assignment in one of my classes, I would give it a C+ at best. "A" for effort, "F" for execution"</p>
        <h2>Glenn Ray, age ?</h2>
    </div>
</div>
