@using MathWiz.Models;
@using MathWiz.Models.ViewModels;
@model List<AssignmentViewModel>

<div class="assignmentPane">
    <table>
        <tr>
            <th>Assignment Name</th>
            <th>Number of Problems</th>
        </tr>
        @foreach (AssignmentViewModel assign in Model)
        {
            <tr>

                <td>@assign.assignment.Name</td>
                <td>@assign.ProblemCount</td>
            </tr>
        }
    </table>

</div>

